In [2]:
import pandas as pd
propertyUsers = pd.read_csv('propertiesUsers.csv', index_col = 'id')
propertyUsers

,user_id,property_id,room_id,rent,parkingcharges,deposite,pendingdeposite,maintainance,occupfrom,occupto,...,amenities,apt_amenities,room_amenities,bike_car_park,signing_date,movein_charges,roomallocationstatus,tenant_status,discount,deposit_txn
id,,,,,,,,,,,,,,,,,,,,,
4,174,1,1,10395,0.0,30000,0,0,2017-04-10,2018-01-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
5,175,1,2,10395,0.0,30000,0,0,2017-04-10,2018-01-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
6,183,1,3,12600,0.0,36000,0,0,2017-06-01,2018-01-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
7,179,10,29,13300,0.0,37500,0,0,2017-05-19,2018-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
8,131,10,30,15000,0.0,41700,0,0,2017-06-01,2017-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
9,180,10,31,7500,NaN,22500,0,0,2016-06-26,2017-05-14,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
10,181,10,31,13500,0.0,40500,0,0,2017-05-26,2018-04-25,...,NaN,"{ 0 : gym , 1 : carparking , 2 : livingroom , ...","[ attachedbathroom , wardrobe , wifi , bed , s...",0.0,NaN,0.0,0,6,0.0,NaN
11,176,5,13,16500,NaN,49500,0,0,2016-05-01,2016-08-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
12,177,5,13,18500,0.0,46500,0,0,2017-08-01,2020-05-31,...,NaN,"wifi , bed , studytablechair , swimmingpo...","wifi , bed , studytablechair , wardrobe",0.0,NaN,0.0,0,2,0.0,NaN
13,178,5,15,14500,0.0,45000,0,0,2016-05-01,2017-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
14,184,13,38,9900,NaN,29700,0,0,2016-06-26,2016-12-25,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
15,185,11,35,9000,0.0,27000,0,0,2016-06-27,2017-02-11,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
17,182,11,34,9900,NaN,29700,0,0,2016-06-12,2017-04-10,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
19,203,18,44,9900,NaN,29700,0,0,2016-07-20,2017-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
20,173,8,0,29000,0.0,100000,0,0,2017-03-01,2018-01-31,...,NaN,"{ 0 : bed , 1 : studytablechair , 4 : clubhous...",[],0.0,NaN,0.0,0,6,0.0,NaN
21,140,9,0,30500,0.0,150000,0,0,2017-03-01,2019-03-31,...,NaN,"{ 0 : bed , 1 : studytablechair , 4 : clubhous...",[],0.0,NaN,0.0,0,6,0.0,NaN
22,216,29,0,10464,0.0,9700,0,0,2017-07-01,2018-09-16,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
23,237,25,59,10650,0.0,29700,0,0,2017-07-07,2018-02-02,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
24,246,26,60,13000,NaN,39000,0,0,2016-08-24,2017-06-07,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
25,258,28,66,16000,0.0,48000,0,0,2018-08-01,2018-09-08,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
26,262,28,67,17600,0.0,48000,0,0,2017-09-01,2019-04-30,...,NaN,"bed , wardrobe , swimmingpool , clubhouse...","bed , wardrobe , studytablechair , attachedba...",0.0,NaN,0.0,0,4,0.0,NaN
27,266,25,57,13090,0.0,31500,0,0,2017-08-01,2020-05-31,...,NaN,"clubhouse , bed , wardrobe , studytablechair ...","bed , wardrobe , studytablechair , attachedba...",0.0,NaN,0.0,0,2,0.0,NaN
28,204,18,46,9900,NaN,29700,0,0,2016-08-01,2016-09-15,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
29,211,18,45,6000,NaN,18000,0,0,2016-07-29,2017-05-13,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,NaN,NaN
30,212,85,222,7000,0.0,21000,0,0,2017-05-14,2017-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
31,252,26,61,12000,NaN,36000,0,0,2016-08-17,2017-06-07,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
32,251,26,62,11300,0.0,33900,0,0,2016-08-20,2017-06-19,...,NaN,NaN,NaN,NaN,NaN,NaN,0,4,NaN,NaN
33,269,3,0,49724,0.0,310000,0,0,2016-08-08,2018-08-07,...,NaN,"studytablechair , wifi , bed , clubhouse ...",NaN,0.0,NaN,0.0,0,4,0.0,NaN
34,270,7,0,34660,0.0,300000,0,0,2017-06-01,2020-02-29,...,NaN,"bed , studytablechair , wifi , wardrobe ,...",NaN,0.0,NaN,0.0,0,6,0.0,NaN
36,268,28,65,18637,0.0,77500,0,0,2017-08-01,2020-05-31,...,NaN,"bed , wardrobe , swimmingpool , clubhouse...","bed , wardrobe , studytablechair , attachedba...",0.0,NaN,0.0,0,2,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,2846,304,721,8000,0.0,24000,0,0,2019-07-19,2020-06-18,...,NaN,"partialpowerbackup , indoorgames , swimmin...",NaN,0.0,31-07-2020,2500.0,0,2,0.0,NaN
1207,2848,237,580,8000,0.0,24000,0,0,2019-07-09,2020-06-08,...,NaN,"bed , wardrobe , sharedbathroom , tubelig...","bed , wardrobe , sharedbathroom , tubelights ...",0.0,2019-08-07,0.0,0,2,0.0,NaN
1208,2849,307,714,17000,0.0,51000,0,0,2019-07-13,2020-06-12,...,NaN,"temple , fullpowerbackup , landscapedgarde...","bed , wardrobe , attachedbathroom , balcony ,...",0.0,NaN,2500.0,0,2,0.0,NaN
1209,2827,309,718,13000,0.0,26000,0,0,2019-07-12,2020-06-11,...,NaN,0,"Bed, Cupboard",1.0,2019-12-07,3000.0,0,2,0.0,0
1210,2834,309,717,6500,0.0,13000,0,0,2019-07-04,2020-06-03,...,NaN,0,"Bed, Cupboard",1.0,2019-03-07,1800.0,0,2,0.0,13000
1211,2833,309,717,6500,0.0,13000,0,0,2019-07-04,2020-06-03,...,NaN,0,"Bed, Cupboard",1.0,2019-03-07,1800.0,0,2,0.0,13000
1212,2778,157,405,7000,0.0,14000,0,0,2019-06-10,2020-05-09,...,NaN,NaN,NaN,0.0,NaN,2500.0,0,2,0.0,NaN
1213,2832,309,716,6500,0.0,13000,0,0,2019-07-03,2020-06-02,...,NaN,0,"Bed, Cupboard",1.0,2019-02-07,1800.0,0,2,0.0,13000
1214,2835,309,716,6500,0.0,3000,0,0,2019-07-03,2020-06-02,...,NaN,0,"Bed, Cupboard",1.0,2019-02-07,1800.0,0,2,0.0,13000
1215,2795,194,0,20300,0.0,41000,0,0,2019-07-01,2020-05-31,...,NaN,NaN,NaN,0.0,NaN,3600.0,0,2,0.0,NaN
1216,2826,145,367,6700,0.0,13000,0,0,2019-07-01,2020-05-31,...,NaN,NaN,NaN,0.0,NaN,2500.0,0,2,0.0,NaN
1217,2454,154,402,11000,0.0,22000,0,0,2019-07-04,2020-06-03,...,NaN,NaN,NaN,0.0,NaN,2500.0,0,2,0.0,NaN
1218,2011,233,569,16800,0.0,45000,0,0,2019-07-01,2020-05-31,...,NaN,NaN,NaN,0.0,NaN,0.0,0,2,0.0,NaN
1219,2859,152,395,15500,0.0,46500,0,0,2019-07-13,2020-06-12,...,NaN,"landscapedgarden , indoorgames , swimmingp...","bed , wardrobe , studytablechair , attachedba...",0.0,NaN,2500.0,0,2,0.0,NaN
1220,1452,123,306,7250,0.0,14500,0,0,2019-07-13,2020-06-12,...,NaN,0,"Bed, Cupboard",1.0,2019-12-07,1500.0,0,2,0.0,0
1221,2864,233,571,15800,0.0,47000,0,0,2019-07-12,2020-06-11,...,NaN,"bed , wardrobe , attachedbathroom , tubel...","wardrobe , sharedbathroom , tubelights , ...",0.0,NaN,2500.0,0,2,0.0,NaN
1222,2871,26,60,12500,0.0,37500,0,0,2019-07-13,2020-06-12,...,NaN,"terracewalkway , bed , wardrobe , studyta...","bed , wardrobe , studytablechair , attachedba...",0.0,2019-12-07,2500.0,0,2,0.0,NaN
1223,2866,141,355,8000,0.0,16000,0,0,2019-07-14,2020-06-13,...,NaN,0,"Bed, Cupboard",1.0,13-07-2019,3540.0,0,2,0.0,0
1224,2872,141,357,8000,0.0,8000,8000,0,2019-07-26,2020-06-25,...,NaN,0,"Bed, Cupboard",1.0,22-07-2019,3540.0,0,1,0.0,0
1225,2814,189,471,7000,0.0,7000,7000,0,2019-08-03,2020-07-02,...,NaN,0,"Bed, Cupboard",1.0,2019-01-08,2950.0,0,1,0.0,0
1226,2873,218,528,15500,0.0,0,46500,0,2019-08-02,2020-07-01,...,NaN,NaN,NaN,0.0,NaN,0.0,0,1,0.0,NaN
1227,2851,303,0,23000,0.0,69000,0,0,2019-07-16,2020-06-15,...,NaN,"temple , fullpowerbackup , indoorgames , squa...",NaN,0.0,NaN,2500.0,0,2,0.0,NaN
1228,2878,313,733,16000,0.0,0,48000,0,2019-08-01,2020-06-30,...,NaN,"partialpowerbackup , indoorgames , tablete...","bed , wardrobe , sharedbathroom , lights , fans",0.0,31-07-2019,0.0,0,1,0.0,NaN
1229,2904,312,731,13000,0.0,0,39000,0,2019-08-01,2020-06-30,...,NaN,NaN,NaN,0.0,NaN,0.0,0,1,0.0,NaN
1230,2884,316,739,14000,0.0,14000,14000,0,2019-08-01,2020-06-30,...,NaN,"Sofa, TV, Fridge, Washing Machine","Bed, Cupboard",1.0,31-07-2019,2950.0,0,1,0.0,0
1231,2899,316,738,8000,0.0,8000,8000,0,2019-07-27,2020-06-26,...,NaN,"Sofa, TV, Fridge, Washing Machine","Bed, Cupboard",1.0,26-07-2019,2950.0,0,1,500.0,0
1232,2901,179,446,6500,0.0,6500,6500,0,2019-07-24,2020-06-23,...,NaN,NaN,"Bed, Cupboard",1.0,23-07-2019,2950.0,0,1,0.0,0
1233,2908,307,715,15000,0.0,0,45000,0,2019-07-26,2020-06-25,...,NaN,NaN,NaN,0.0,NaN,0.0,0,1,0.0,NaN
1234,2912,46,123,7500,0.0,0,22500,0,2019-07-27,2020-06-26,...,NaN,"swimmingpool , washbasin , bed , wardrobe...","bed , wardrobe , studytablechair , attachedba...",0.0,NaN,0.0,0,1,0.0,NaN
1235,2913,46,123,7500,0.0,0,22500,0,2019-07-27,2020-06-26,...,NaN,NaN,NaN,0.0,NaN,0.0,0,1,0.0,NaN